<ion-content color="secondary">
  <section class="login">
    <div class="container-login">
      <h2 style="color: #000;">Fazer login</h2>
      <form [formGroup]="formLogin">
        <div class="div-item">
          <ion-item>
            <ion-input type="email" placeholder="E-mail" clear-input formControlName="email"></ion-input>
          </ion-item>
          <ng-container *ngFor="let erro of mensagens.email">
            <span class="msg-erro"
              *ngIf="formLogin.get('email').hasError(erro.tipo) && (formLogin.get('email').dirty || formLogin.get('email').touched)">
              {{ erro.mensagem }}
            </span>
          </ng-container>
        </div>
        <div class="div-item">
          <ion-item>
            <ion-input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Senha" formControlName="senha">
            </ion-input>
            <ion-icon [name]="iconeSenha" slot="end" (click)="alterarVisualizacao()"></ion-icon>
          </ion-item>
          <ng-container *ngFor="let erro of mensagens.senha">
            <span class="msg-erro"
              *ngIf="formLogin.get('senha').hasError(erro.tipo) && (formLogin.get('senha').dirty || formLogin.get('senha').touched)">
              {{ erro.mensagem }}
            </span>
          </ng-container>
        </div>
      </form>
      <ion-button expand="block" color="secondary">
        Entrar
      </ion-button>
      <ion-button expand="block" fill="outline" routerLink="/registro">
        Registrar
      </ion-button>
      <ion-button expand="block" color="secondary" fill="clear">
        Esqueci minha senha
      </ion-button>
    </div>
  </section>
</ion-content>
